<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cross Stitch Designer</title>
    <meta name="description" content="My official cross stitch design app, made with love <3 and built with P5.js">
    <meta name="author" content="Brandtley McMinn <https://github.com/bmcminn/cross-stitch-designer>">
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css" />
    <link rel="stylesheet" href="assets/reset.css">
    <link rel="stylesheet" href="assets/app.css">
    <style type="text/css">
        body.no-js #app {
            display: none;
        }
    </style>
</head>
<body class="no-js">

    <noscript>
        This app requires JavaScript to work.
    </noscript>


    <main id="app">

        <div class="design-view">
            <header id="design-information" class="text-center design-info">
                <h1>{{ design.title }}</h1>

                <div>
                    Copyright &copy; {{ design.copyright|datetime('YYYY') }} {{ design.designer }}
                </div>

                <div>
                    Count Size: {{ settings.gridWidth }} x {{ settings.gridHeight }}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Finished Size: {{ design.widthInches|round }}" x {{ design.heightInches|round }}"
                </div>
            </header>


            <vue-p5
                :class="{ 'draw-centered': designViewDrawCentered }"
                @setup="setup"
                @draw="draw"
                @keypressed="keypressed"
                @mouseclicked="mouseclicked"
                @mousedragged="mousedragged"
                @mousemoved="mousemoved"
                @mousepressed="mousepressed"
                @mousereleased="mousereleased"
                @windowresized="windowresized"
            ></vue-p5>


            <ul class="print-only">
                <li v-for="layer in layers"
                    :key="layer.color"
                    class="flex"
                >
                    <span class="swatch" :style="{
                        'background-color': layer.color
                    }"></span>
                    {{ layer.title }}
                </li>
            </ul>


            <footer class="text-center print-only">
                Made with {{ app.name }} v{{ app.version }}<br>
                <a class="small" :href="app.links[0].link">{{ app.links[0].link }}</a>
            </footer>


            <footer class="app-copyright no-print">
                <hr class="my-2">

                <p class="text-center">
                    {{ app.name }} v{{ app.version }}<br>
                    &copy; {{ null|datetime('YYYY') }} <a href="https://github.com/bmcminn">bmcminn</a><br>
                    <a href="https://github.com/bmcminn/cross-stitch-designer">Github</a> |
                    <a href="https://github.com/bmcminn/cross-stitch-designer/blob/master/README.md">Docs</a> |
                    <a href="https://github.com/bmcminn/cross-stitch-designer/issues">Issues</a>
                </p>
            </footer>

            <div class="status-bar flex flex-row no-print">
                <!-- <div><span class="fas fa-fw fa-arrows-alt"></span>{{ '' }}</div> -->
                <class class="left-side flex flex-row">
                    <div :title="`Design Dimensions (${settings.gridWidth}&times;${settings.gridHeight})`"><span class="fas fa-fw fa-th"></span>{{ settings.gridWidth }}&times;{{ settings.gridHeight }}</div>

                    <div title="Active Tool">
                        <i :class="['fas fa-fw', activeTool?.icon ]"></i>
                        {{ activeTool?.name ?? '--' }}
                    </div>
                </class>


                <div>
                    {{ 100 * (settings.tilesize-settings.tilesizeMin) / (settings.tilesizeMin-settings.tilesizeMax) | round(0) | abs }}%
                    <label class="sr-only" for="settings.tilesize" title="Zoom (-/+)">Zoom</label>
                    <input id="settings.tilesize"
                        @change="adjustGrid()"
                        type="range"
                        :min="settings.tilesizeMin"
                        :max="settings.tilesizeMax"
                        v-model="settings.tilesize"
                    />
                </div>
            </div>
        </div>


        <div class="controls controls--sidebar no-print">

            <button @click="openDialogue('#documentInfo')">Edit Document Settings</button>


            <div class="tools">
                <button v-for="tool in tools"
                    v-if="tool.isEnabled"
                    :key="tool.name"
                    :title="`${tool.name}` + (tool.command ? ` (${tool.command})` : '')"
                    :selected="activeTool?.name === tool.name"
                    @click="changeActiveTool(tool)"
                >
                    <i :class="[ 'fas', tool.icon, 'fa-fw' ]"></i>
                    <span class="sr-only">{{ tool.name }}</span>
                </button>
            </div>


            <div id="colors-panel">
                <h3>Colors</h3>

                <button @click="newLayer">
                    New color <small class="fas fa-fw fa-plus"></small>
                </button>

                <button @click="clearDesign">
                    Clear design <small class="fas fa-fw fa-trash"></small>
                </button>

                <ul class="controls controls--colors">
                    <li
                        v-for="(layer, layerIndex) in layers"
                        :key="layerIndex"
                        :selected="settings.selectedLayer == layer.id"
                        @click="selectLayer(layer.id)"
                        :class="{
                            'flex flex-row flex-center control--layer': true,
                            'is-visible': layer.isVisible
                        }"
                    >
                        <button @click="toggleLayerVisibility(layerIndex)" title="Toggle visiblity">
                            <span :class="{
                                'fas fa-fw': true,
                                'fa-eye': layer.isVisible,
                                'fa-eye-slash': !layer.isVisible
                            }"></span>
                        </button>

                        <input class="layer-color"
                            type="color"
                            v-model="layer.color"
                            @change="save"
                            :style="{
                                'background-color': layer.color
                            }"
                        />

                        <div class="flex-grow color--name">
                            <!-- // TODO: figure out a clickaway strategy -->
                            <label v-show="layer.editingtitle == false"
                                class="full-width"
                                @dblclick="layer.editingtitle=true"
                            >{{ layer.title }}</label>

                            <input v-show="layer.editingtitle == true"
                                v-model="layer.title"
                                @blur="layer.editingtitle=false; $emit('update'); save"
                                @keyup.enter="layer.editingtitle=false; $emit('update'); save"
                                @keyup.esc="layer.editingtitle=false; $emit('update'); save"
                            />
                        </div>

                        <button @click="moveLayer(layerIndex, -1)"
                            :disabled="layerIndex === 0"
                        >
                            <span class="fas fa-fw fa-angle-up"></span>
                        </button>

                        <button @click="moveLayer(layerIndex, 1)"
                            :disabled="layerIndex === layers.length-1"
                        >
                            <span class="fas fa-fw fa-angle-down"></span>
                        </button>

                        <button @click="deleteLayer(layerIndex)">
                            <span class="fas fa-fw fa-trash"></span>
                        </button>
                    </li>
                </ul>
            </div>

        </div>



        <dialog id="documentInfo">
          <form method="dialog">
            <div class='h3'>Document Information</div>
                <div class="form-group">
                    <label for="design.title">Design Title</label>
                    <input type="text"
                        class="full-width"
                        id="design.title"
                        v-model="design.title"
                        @change="save"
                    />
                </div>


                <div class="form-group">
                    <label for="design.designer">Designer</label>
                    <input type="text"
                        class="full-width"
                        id="design.designer"
                        v-model="design.designer"
                        @change="save"
                    />
                </div>


                <div class="form-group">
                    <label for="design.copyright">Copyright Date</label>
                    <input type="date"
                        class="full-width"
                        id="design.copyright"
                        v-model="design.copyright"
                        @change="save"
                    />
                </div>


                <div class="form-group">
                    <label for="settings.gridWidth">Width</label>
                    <input type="number"
                        id="settings.gridWidth"
                        v-model="settings.gridWidth"
                        :min="settings.gridSizeMin"
                        :max="settings.gridSizeMax"
                        @change="adjustGrid()"
                    />
                </div>

                <div class="form-group">
                    <label for="settings.gridHeight">Height</label>
                    <input type="number"
                        id="settings.gridHeight"
                        v-model="settings.gridHeight"
                        @change="adjustGrid()"
                        :min="settings.gridSizeMin"
                        :max="settings.gridSizeMax"
                    />
                </div>


                <div class="form-group">
                    <label for="settings.aidaCount">Aida Count</label>
                    <input id="settings.aidaCount"
                        @change="adjustGrid()"
                        type="number"
                        :min="settings.aidaCountMin"
                        :max="settings.aidaCountMax"
                        v-model="settings.aidaCount"
                    />
                </div>



                <div class="form-group">
                    <label for="settings.gridBackgroundColor">Aida cloth color</label>
                    <input id="settings.gridBackgroundColor"
                        @change="save"
                        type="color"
                        v-model="settings.gridBackgroundColor"
                    />
                </div>

                <div class="form-group">
                    <label for="settings.gridLineColor">Grid line color</label>
                    <input id="settings.gridLineColor"
                        @change="save"
                        type="color"
                        v-model="settings.gridLineColor"
                    />
                </div>


                <div class="h3">UI Settings</div>
                <div class="form-group" title="Show/hide the cursor location markers at edge of design grid">
                    <input type="checkbox"
                        id="settings.showCursorMarkers"
                        v-model="settings.showCursorMarkers"
                    />
                    <label for="settings.showCursorMarkers">Show cursor markers</label>
                </div>

                <div class="form-group" title="Show/hide the row and column numbers">
                    <input type="checkbox"
                        id="settings.showGridNumbers"
                        v-model="settings.showGridNumbers"
                    />
                    <label for="settings.showGridNumbers">Show row/column numbers</label>
                </div>

                <div class="form-group" title="Show/hide the design center cross">
                    <input type="checkbox"
                        id="settings.showGridCenterMarkers"
                        v-model="settings.showGridCenterMarkers"
                    />
                    <label for="settings.showGridCenterMarkers">Show design center marker</label>
                </div>



            <menu>
              <button value="cancel">Cancel</button>
              <button id="confirmBtn" value="default">Confirm</button>
            </menu>
          </form>
        </dialog>


    </main>


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js" integrity="sha512-WIklPM6qPCIp6d3fSSr90j+1unQHUOoWDS4sdTiR8gxUTnyZ8S2Mr8e10sKKJ/bhJgpAa/qG068RDkg6fIlNFA==" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <!-- <script src="https://unpkg.com/lz-string@1.4.4/libs/lz-string.min.js"></script> -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <!-- <script src="https://unpkg.com/lzwcompress@0.5.22/lzwCompress.js"></script> -->
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-p5"></script>
    <script src="assets/app.js"></script>

</body>
</html>
