:root {
	--anim-duration: 1s;

}

/*
html {
  	box-sizing: border-box;
}
*, *:before, *:after {
  	box-sizing: inherit;
}
*/

body {
	margin: 0;
	padding: 0;
	background-color: var(--water);
	font-family: sans-serif;
}




.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }

.flex-grow { flex-grow: 1; }

.control--layer {
	justify-content: space-between;
}


.controls {
	position: fixed;
}


.controls--sidebar {
	position: fixed;
	bottom: unset;
	right: 0;
	top: 0;
	height: 100%;
	width: 16em;
}


.layer-color {
	width: 25px;
	height: 25px;
	appearance: none;
}



.color-swatch,
.color-swatch--color {
	display: inline-block;
	width: 25px;
	height: 25px;
}

.color-swatch {
	padding: 0;
}

.controls--layers {
	margin: 1em 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.controls--layers li {
	display: flex;
	flex-direction: row;
}

.controls--layers button {
	font-size: 0.7em;
}



main {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

@keyframes anim-spin-8 {
	0% 		{ transform: rotate(0deg) }
	100% 	{ transform: rotate(360deg) }
}
@keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.2); }
	100% { transform: scale(1); }
}

.fa-spinner {
}

.fa-spin--8 {
	animation: anim-spin-8 var(--anim-duration) steps(8, end) infinite
}
.fa-spin--8-rev {
	transform: rotate(-45deg);
	animation: anim-spin-8 var(--anim-duration) steps(8, jump-end) infinite reverse
}
.fa-pulse {
	animation: pulse var(--anim-duration) linear infinite;
}


.full-width {
	width: 100%;
	display: block;
}
